site_name: Aurora DSQL Documentation
site_description: Documentation for Amazon Aurora DSQL, a serverless distributed SQL database
site_dir: site
use_directory_urls: false

repo_url: https://github.com/aws/aurora-dsql-starter-kit

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: custom
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: custom
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.select
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.top
    - search.highlight
    - content.code.copy

markdown_extensions:
  - admonition
  - codehilite
  - pymdownx.highlight
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - tables
  - pymdownx.superfences:
      custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      title: On this page
      permalink: true
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets
  - pymdownx.inlinehilite

extra_css:
  - stylesheets/extra.css

nav:
  - User Guide:
    - Welcome: index.md
    - What is Amazon Aurora DSQL?: what-is-amazon-aurora-dsql.md
    - Getting Started: guides/getting-started/quickstart.md
    - Auth & Access:
      - Overview: authentication-and-authorization.md
      - Generate Authentication Token: generate-authentication-token.md
      - Database Roles and IAM Authentication: database-roles-iam-authentication.md
    - Troubleshooting:
      - Overview: troubleshooting.md

plugins:
  - search
  - privacy

validation:
  nav:
    omitted_files: info
    not_found: warn
    absolute_links: warn
  links:
    not_found: warn
    anchors: warn
    absolute_links: warn
    unrecognized_links: warn
